<h3>
  Add New Owner
</h3>

<form action="/owners" method="post">

  <label>
    Name:
    <input type="text" name="name">
  </label>
  <br>
  
  <label>
    Email:
    <input type="text" name="email">
  </label>
  <br>

  <button>Create Owner</button>

</form>
