<h1>Dashboard</h1>

<!--
Let's define some div tags which will be
filled in with the results of AJAX requests
happening in our main.js
-->

<h2>System Uptime:</h2>
<div id="uptime">
  <em>Loading...</em>
</div>

<h2>Biggest CPU hog (Zoom, obvs)</h2>
<div id="hog">
  <em>Loading...</em>
</div>

<h2>All Messages</h2>
<div id="messageIndex">
  <em>Loading...</em>
</div>