<html>
  <head>
    <title>Person Greeter</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <h1>Hello <%= name %> from the Template</h1>

    <p>
      Your message:
      <%= msg %>
    </p>
    <p>

      Your number:
      <%= number %>
    </p>

    
  </body>
</html>

