
How to use the calculator:
<br>
<!--
Type in a url like:
<br>
<code>
/calc/5/+/10
</code>
-->

<form action="/calc/answer">

  <label>
    First number:
    <input type="text" name="first_num">
  </label>
  <br>
  <label>
    Operation:
    <input type="text" name="operator">
  </label>
  <br>
  <label>
    Second number:
    <input type="text" name="second_num">
  </label>
  <br>
  <button>Calculate!</button>

</form>
