<html>
 <head>
   <title>Calculator site</title>
 </head>
 <body>
   <nav>
      <h1>Calculator</h1>
      <a href="/">Home</a>
      <hr>
   </nav>

  <section>
    <%= yield %>
  </section>

  <footer>
   <hr>
   &copy; Calculon Productions 2022
  </footer>
 </body>
 </html>