
<h3>
  Stonk Results for "<%= @stock_code %>"
</h3>

<p>
  <strong>Company Name:</strong>
  <%= @results.company_name %>
</p>

<p>
  <strong>Latest Price:</strong>
  $<%= @results.latest_price %>
</p>