<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>STONKS!!</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  
  <header>
    <nav>
      <h1>STONKS LOOKUP!!</h1>
      <hr>
    </nav>
  </header>

  <div id="main">
    <%= yield %>
  </div>

  <footer>
    <hr>
    &copy; Finance Bro Productions 2022
  </footer>

</body>
</html>